OPENAI_API_KEY="YOUR OPENAI API KEY"
# Override openai api request base url. (Optional)
# Default: https://api.openai.com/v1
# Examples: http://your-openai-proxy.com/v1
OPENAI_BASE_URL=https://api.openai.com/v1
ELEVENLABS_API_KEY="YOUR ELEVENLABS API KEY"
ELEVENLABS_VOICE_ID="cgSgspJ2msm6clMCkdW9"
